# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
log/
debug.log
error.log

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
